* {
    box-sizing: border-box;
}

/*
=================
HEADER
=================
*/

header {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    height: 5em;
    width: 100%;
    position: fixed;
    left:0;
    background-color: #7A5418;
    box-shadow: 1px 1px 1px rgba(0,0,0,0.5);
}

.logo{
    padding-left: .8%;
    padding-bottom: 15px;
    margin-left: 0px;

}

ul {
    display: none;
}

h1 {
    color: #484848;
    font-family: 'Raleway', sans-serif;
    font-size: 36px;
    text-transform: uppercase;
    text-decoration: underline;
    padding-bottom: 19px;
   
}

header h1 {
    text-align: center;
    padding-bottom: 0px;
    text-decoration: none;
}
.title{
    padding-left: 16%;
    font-size: 3em;
    text-decoration: none;
}
.title2{
    font-size: 2.2em;
    padding-left: 25%;
}
.left{
    padding-left: 34%;
}

article p{
    padding-left: 10%;
    text-align: center;
    line-height: 40px;
    font-size: 1.5em;
}

/*#5E7F58
=================
MAIN IMAGE
=================
*/

figure {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
}

figcaption {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
}

.figcapbox{
    display: flex;
    width: 500px;
    height: 120px;
    background-color: rgba(255,255,255,.5);
    border-radius: 5px;
    box-shadow: 1px 1px 1px rgba(0,0,0,0.5);
    margin-bottom: 15px;
}
.figcapbox h3{
    text-align: center;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 5px;
    color:#000;
    font-family: 'Open sans', sans-serif;

}

h2, h3 {
    color: #fff;
}

h2 {
     font-family: 'Open sans', sans-serif;
    font-size: 55px;
    font-weight: 300;
    padding-top: 60px;
    padding-bottom: 29px;
}

.image-text {
    text-align: center;
}


.img_container{
    margin-top: 20px;
    height:450px;
    width:960px;
    margin-left:0%;
    margin-bottom: 55px;

}

.img{
    display: inline-block;
    width:210px;
    height:210px;
    border-radius: 25px;
    border:3px solid rgba(0,0,0,.4);
    margin:15px;
    float: left;

}

/*.img1{

}*/

.img2{
  
}

.img3{
   
}

h3 {
    ffont-family: 'Raleway', sans-serif;
    font-size: 20px;
    line-height: 35px;
    max-width: 492px;
    text-align: center;
    padding-bottom: 20px;
}

.book-appointment {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    width: 220px;
    height: 39px;
    background-color: #B19C78;
    font-family: 'Open sans', sans-serif;
    font-size: 15px;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
}



/*
=================
ARTICLES
=================
*/

section {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-left: 70px;
    padding-right: 70px;
    padding-bottom: 80px;
}

article {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    max-width: 1000px;

}

/*
=================
stylists
=================
*/

.stylistslist{
    padding-top: 15px;


}
.stylistslist article h1, {
    padding-left: 7%;
    margin-left: 0;
}

.stylistslist p {
    width: 100%;
    margin-left: 0;
    padding-left: 0;

}
.stylisttitle{
    padding-bottom: 20px;
    font-family: 'Open sans', sans-serif;
}

.bookstylist{
    padding-left: 60%;
    padding-top: 0px;
}

.shawn{
    justify-content:flex-start;
    padding-left: 25px;

    width:100%;
  
}

.shawn p {
    text-align: left;
}
.shawn h3{
    color:black;
    text-transform: uppercase;
}

.shawnimg{
    width:150px;
    height:150px;
    border-radius: 150px;
    border: 2px solid rgba(0,0,0,.5);
}

.portfolio{
     width:1530px;
    height:660px;
    border: 8px solid #bed5cd;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    background-color:black;
    display: inline-block;
    padding: 0;
}

.portfolioinner{
    width:3000px;
    padding:0;
}

.portfolioimg{
    display: inline-block;
    float:left;
    margin-left: 65px;
    margin-top:35px;
}

.main_link{
    height:95px;
    background-color: #7A5418;
}

.button{ 
    display: block;
    text-align: center;
    
    height: 3.2em;
    line-height: 3.2em;
    width: 16em;
    border-radius: .5em;
    color: #ffffff;
    border: none;
    outline: none;
    font-family: 'Source Sans Pro', sans-serif;
    transition: background-color .2s ease-in-out;
    transition-delay: initial;
    margin-top: 22.5px;
    background-color: #B19C78 ;
    font-family: 'Raleway', sans-serif;
    text-decoration: none;

  }

.button:hover{
    background-color: #5E7F58;
}


article h1, article h2 {
    
    font-size: 26px;
    font-weight: normal;
    padding: .3em 0;
}

article h2 {
    color: #484848;
}

p, section li {
    font-family: 'Open sans', sans-serif;
    font-size: 15px;
    color: #8e8e8e;
    line-height: 19px;
    padding-bottom: 10px;
    padding-left: 210px;
}

.flex-column {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
}

.centers-button {
    -webkit-align-self: center;
        -ms-flex-item-align: center;
            align-self: center;
    margin-top: 30px;
    margin-bottom: 10px;
}


aside {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

article img {
    display: none;
}

.right-aligns {
    -webkit-align-self: flex-end;
        -ms-flex-item-align: end;
            align-self: flex-end;
}

cite a {
    font-family: 'Open sans', sans-serif;
    font-size: 12px;
    color: #8e8e8e;
    text-decoration: none;
}

cite a:hover {
    color: #00f;
    text-decoration: underline;
}

.divider {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 20px;
    margin-bottom: 40px;
}

.divider span {
    background-color: #d0d0d0;
    height: 1px;
    width: 260px;
}


.red {
    text-align: center;
    color: #7A5418;
    margin-top: 37px;
    padding-bottom: 5px;
}

.phone {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 15px;

}

.phone a {
    color:#7A5418;
    font-family: sans-serif;
    font-size: 36px;
    text-transform: uppercase;
    text-decoration: none;
}

.phone a:hover {
    color: #00f;
}

.phone a:visited {
    color: #f00;
}

.book {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: row wrap;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
            justify-content: space-around;
    -webkit-align-content: center;
        -ms-flex-line-pack: center;
            align-content: center;
}

.book-item {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: column nowrap;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-align-content: center;
        -ms-flex-line-pack: center;
            align-content: center;
    margin: 0 15px 0 15px;
}



footer {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
}

footer div {
    text-align: center;
    line-height: 22px;
}

footer div a {
    text-decoration: none;
}

footer div a:hover {
    text-decoration: underline;
    color: red;
}

/*
=====================================================================================
MEDIA QUERIES
=====================================================================================
*/

/*GREATER THAN 600px*/
@media all and (min-width: 600px) {
    /*adds image of radon entering house*/
    article img {
        display: block;
    }

    /*puts numbered list and image on each side of container*/
    div aside {
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-justify-content: space-around;
            -ms-flex-pack: distribute;
                justify-content: space-around;
    }

    .divider span {
        width: 450px;
    }


}

/*LESS THAN 768px*/
@media all and (max-width: 768px) {

    .main-image {
        width: 100%;
        height: 540px;
        background: url("../images/fam_blur_under_600_web_medium.jpg") center 30% no-repeat;
        background-size: cover;
    }

    .us-image {
        width: 100%;
        height: 540px;
        background: url("../images/us_16_9_smaller_web_30.jpg") center 30% no-repeat;
        background-size: cover;
    }
}

/*GREATER THAN 768px*/
@media all and (min-width: 768px) {

    /*changes main image and size of main image*/
    .main-image {
        width: 100%;
        height: 600px;
        background: url("../images/salon.jpg") center 30% no-repeat;
        background-size: cover;
    }

  
    /*adds navigation at top*/
    header {
        height: 11em;
    }
{
    position: relative;
}
/*.neo{
    font-size: 2.7em;
    position: absolute;
    top:0;
    left: 43%;
}

.dolce{
    font-size: .6em;
    float:left;
    width: 100px;
    height:25px;
    background-color: #7A5418;
    position: absolute;
    top:32px;
    left: 50%;


}*/
    header h1 {
        text-align: center;
        padding-bottom: 20px;
    }

    ul {
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-align-items: center;
            -ms-flex-align: center;
                align-items: center;
    }

    li a {
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-justify-content: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-align-items: center;
            -ms-flex-align: center;
                align-items: center;
        padding-left: 15px;
        padding-right: 15px;
        margin-left: 10px;
        margin-right: 10px;
        height: 30px;
        background-color: #B19C78 ;
        font-family: 'Raleway', sans-serif;
        font-size: 13px;
        color: #484848;
        text-decoration: none;
        text-transform: uppercase;
    }

    li a:hover {
    
        background-color: #5E7F58;
        color:white;
    }

    footer .tech{
        width: 100%;
    }

    footer .tech nav ul li{
        display: line-block;
        width: 120px;

    }
    .bottom{
        padding-left: 36%;
        padding-bottom: 15px;
    }

    /*adds line*/
    .line {
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-justify-content: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-align-items: center;
            -ms-flex-align: center;
                align-items: center;
        padding-left: 20px;
        padding-right: 20px;
    }

    .line span {
        background-color: #d0d0d0;
        height: 1px;
        width: 190px;
    }

    .divider span {
        width: 600px;
    }

}

/*GREATER THAN 800px*/
@media all and (min-width: 800px) {
    /*increases line size*/
    .line span {
        width: 206px;
    }

    .divider span {
        width: 650px;
    }
}

/*GREATER THAN 980px*/
@media all and (min-width: 980px) {
    /*increases line size*/
    .line span {
        width: 300px;
    }

    .divider span {
        width: 750px;
    }
}

/*GREATER THAN 1100px*/
@media all and (min-width: 1100px) {
    /*increases line size*/
    .line span {
        width: 330px;
    }


    .divider span {
        width: 850px;
    }
}


