/*
=================
HEADER
=================
*/

.header{
	background-color: #7A5418;
    box-shadow: 1px 1px 1px rgba(0,0,0,0.5);
    width:100%;
    text-align: center;
    position: fixed;
}
.logo{
	padding-top:5px;
	display: inline-block;
	/*width: 16%;
    margin: 0 auto;*/
}

/*
=================
MAIN IMAGE
=================
*/




/*
=================
ARTICLES
=================
*/


/*
=================
Buttons
=================
*/
.main_link{
    height:95px;
    background-color: #7A5418;
      width: 100%;
  text-align: center;

}

.button{ 
    display: inline-block;
    text-align: center;
    
    height: 3.2em;
    line-height: 3.2em;
    width: 16em;
    border-radius: .5em;
    color: #ffffff;
    border: none;
    outline: none;
    font-family: 'Source Sans Pro', sans-serif;
    transition: background-color .2s ease-in-out;
    transition-delay: initial;
    margin-top: 22.5px;
    background-color: #B19C78 ;
    font-family: 'Raleway', sans-serif;
    text-decoration: none;

  }

.button:hover{
    background-color: #5E7F58;
}



/*
=================
stylists
=================
*/


/*
=====================================================================================
MEDIA QUERIES
=====================================================================================
*/

/*LESS THAN 768px*/
@media all and (max-width: 768px) {
	.line span{
		display: none;
	}

	}



/*GREATER THAN 768px*/
@media all and (min-width: 768px) {
 .main-image {
        width: 100%;
        height: 600px;
        background: url("../images/salon.jpg") center 30% no-repeat;
        background-size: cover;
        background-position: 50% 50%;
  background-repeat: no-repeat;
  background-attachment: fixed;
    }
 .header {
        height: 9em;
    }
	
	.nav{
	margin-top: 15px;
	    width: 100%;
  text-align: center;
	}

	.nav ul{
		display:inline-block;
	}

	.nav ul li{
		display: inline-block;
	}
.nav li a{

		padding-left: 15px;
        padding-right: 15px;
        padding-top: 6px;
        padding-bottom: 6px;
        margin-left: 10px;
        margin-right: 10px;
        height: 30px;
        background-color: #B19C78 ;
        font-family: 'Raleway', sans-serif;
        font-size: 13px;
        color: #484848;
        text-decoration: none;
        text-transform: uppercase;
	}

	.nav li a:hover {
    
        background-color: #5E7F58;
        color:white;
    }


	.line{
		padding-right: 20px;
		padding-left: 20px;
	}

	.line span{
		z-index: 1;
		display: inline-block;
		background-color: #d0d0d0;
        height: 1px;
        width: 440px;
        margin-bottom: 4px;
	}

	/*
	==========
	Main Body
	==========
	*/

	.section{
	text-align: center;
	padding-top: 25px;
	padding-left: 70px;
    padding-right: 70px;
    padding-bottom: 80px;
	}
	.section .article{
		max-width: 1300px;
		    
    margin: 0 auto;
	}
	.section .title{
		font-size: 2.5em;
		 color: #484848;
    	font-family: 'Raleway', sans-serif;
    	text-transform: uppercase;
    	padding-bottom: 25px;
	}
	.section p{
		font-family: 'Raleway', sans-serif;
		font-size: 1.5em;
		line-height: 45px;
	}
	.section .subtitle{
		font-family: 'Raleway', sans-serif;
		font-size: 2em;
		font-weight: 700;
		padding-bottom: 15px;
		padding-top: 15px;
	}

	.book .book-item .phone a{
		font-size: 2em;
		font-family:sans-serif;
		color:#484848;
		text-decoration: none;
	}
	.book .book-item .phone a:hover{
		color:#5E7F58;
	}
	/*
	=========
	Bottom
	=========
	*/
	.bottom{
		width:100%;
		display: inline-block;
		text-align: center;
		padding-bottom: 25px;
	}
	.bottom ul li{
		display: inline-block;
		text-align: center;
		padding-left: 15px;

	}
	.bottom ul li a:hover{
		color:#5E7F58;
	}
	.footer{
		width: 100%;
		text-align: center;

	}
}

@media all and (max-width: 1460px) {
	.line span{
		width: 320px;
	}
}

@media all and (max-width: 1208px) {
	.line span{
		width:220px;
	}
}

@media all and (max-width: 1007px) {
	.line span {
		width:100px;
	}
}
/*GREATER THAN 800px*/
@media all and (min-width: 800px) {
	.nav ul a{
		
		font-size: 13px;
	}
	
	

}
