/*
=================
Body
================
*/
html{
	-webkit-font-smoothing: antialiased;

}

/*
=================
HEADER
=================
*/

.header{
	background-color: #7A5418;
    box-shadow: 1px 1px 1px rgba(0,0,0,0.5);
    width:100%;
    padding-bottom: 25px;
    text-align: center;
    position: fixed;
}
.logo{
	padding-top:15px;
    padding-bottom:10px;

	display: inline-block;
	/*width: 16%;
    margin: 0 auto;*/
}

/*
=================
MAIN IMAGE
=================
*/

/*
=================
Body
=================
*/

p{
    color: #8e8e8e;
    font-family: 'Open sans', sans-serif;
}


/*
=================
ARTICLES
=================
*/


/*
=================
Buttons
=================
*/
.main_link{
    height:95px;
    background-color: #7A5418;
      width: 100%;
  text-align: center;

}

.button{ 
    display: inline-block;
    text-align: center;
    
    height: 3.2em;
    line-height: 3.2em;
    width: 16em;
    border-radius: .5em;
    color: #ffffff;
    border: none;
    outline: none;
    font-family: 'Source Sans Pro', sans-serif;
    transition: background-color .2s ease-in-out;
    transition-delay: initial;
    margin-top: 22.5px;
    background-color: #B19C78 ;
    font-family: 'Raleway', sans-serif;
    text-decoration: none;

  }

.button:hover{
    background-color: #5E7F58;
}



/*
=================
stylists
=================
*/


/*
=====================================================================================
MEDIA QUERIES
=====================================================================================
*/

/*GREATER THAN 768px*/
@media (max-width: 2000px) {
 .main-image {
        width: 100%;
        height: 520px;
        background: url("../images/wholesalon-1.jpg") center 30% no-repeat;
        background-size: cover;
        background-position: 50% 35%;
  background-repeat: no-repeat;
  background-attachment: fixed;
    }
 .header {
        height: 9em;
    }

   
    .productsimg div{
        display: inline-block;
        padding-bottom: 90px;
    }
    .img{
        display: inline;
        width:210px;
        height:210px;
        border-radius: 25px;
        border:3px solid rgba(0,0,0,.4);
        margin:15px;
        
    }

.map{
    display: inline-block;
    width:100%;
    height: 500px;
    height:65vh;
}

    .divider{
    padding-left: 20px;
    padding-right:20px;
    padding-bottom:25px;
    width:100%;
    text-align: center;

    }

    .divider span {
    display: inline-block;
    background-color: #d0d0d0;
    height: 1px;
    width: 85%;
}

	
	.nav{
	margin-top: -10px;
	    width: 100%;
  text-align: center;
	}

	.nav ul{
		display:inline-block;
	}

	.nav ul li{
		display: inline-block;
        padding-bottom: 4px;
        padding-top: 4px;
	}
.nav li a{

		padding-left: 15px;
        padding-right: 15px;
        padding-top: 6px;
        padding-bottom: 6px;
        margin-left: 10px;
        margin-right: 10px;
        height: 30px;
        background-color: #B19C78 ;
        font-family: 'Raleway', sans-serif;
        font-size: 13px;
        color: #484848;
        text-decoration: none;
        text-transform: uppercase;
	}

	.nav li a:hover {
    
        background-color: #5E7F58;
        color:white;
    }


	.line{
        width: 100%;

	}

	.line span{
		z-index: 1;
		display: inline-block;
		background-color: #d0d0d0;
        height: 1px;
        width: 100%;
        margin-bottom: 4px;
	}

    ul li strong{
        font-weight: bold;
    }
    .hours li{
        font-size: 2em;
    }

	/*
	==========
	Main Body
	==========
	*/

	.section{
	text-align: center;
	padding-top: 25px;
	padding-left: 70px;
    padding-right: 70px;
    padding-bottom: 80px;
	}
	.section .article{
		max-width: 1300px;
		    
    margin: 0 auto;
	}
	.section .title{
		font-size: 2.5em;
		 color: #484848;
        padding-top: 1.6em;
    	font-family: 'Raleway', sans-serif;
    	text-transform: uppercase;
    	padding-bottom: 25px;
	}
    .maptitle{
        font-size: 2.0em;
         color: #000;
        font-family: 'Raleway', sans-serif;
        text-transform: uppercase;
        padding-bottom: 5px;
        padding-top: 15px;
    }
	.section p{
		font-family: 'Raleway', sans-serif;
		font-size: 1.5em;
		line-height: 45px;
	}
	.section .subtitle{
		font-family: 'Raleway', sans-serif;
		font-size: 2em;
		font-weight: 700;
		padding-bottom: 15px;
		padding-top: 15px;
	}

	.book .book-item .phone a{
		font-size: 2em;
		font-family:sans-serif;
		color:#484848;
		text-decoration: none;
	}
	.book .book-item .phone a:hover{
		color:#5E7F58;
	}

        
    
	/*
	=========
	Bottom
	=========
	*/
	.bottom{
		width:100%;
		display: inline-block;
		text-align: center;
		padding-bottom: 25px;
	}
    
    .bottom .line{
        width:260px;
    }

	.bottom ul li{
		display: inline-block;
		text-align: center;
		padding-left: 15px;

	}
	.bottom ul li a:hover{
		color:#5E7F58;
	}
	.footer{
		width: 100%;
		text-align: center;

	}
}

@media (max-width: 1200px){

.header{
    height: 6em;
}
.logo{
    padding-top: 1px;
    padding-bottom: 0px;
}
svg{
    width: 8em;
    }
.nav{
    margin-top: -17px;
}
.nav ul li{
    padding-top: 0px;
    padding-bottom: 2px;
}
.nav ul li a{
    padding-left: 11px;
    padding-right: 11px;
}

.bottom .line{
    width:95px;
    }
}
